/**dashboard**/

nav .ticketing-header {
    background-color: white !important;
}

nav .ticketing-logo {
    font-size: 20px;
    margin-left: 20px;
    color: #2d3e50;
}

nav ul a {
    transition: background-color .3s;
    font-size: 1rem;
    color: #2d3e50;
    display: block;
    padding: 0 15px;
    cursor: pointer;
}
