/**dashboard**/

nav .ticketing-header {
    background-color: white !important;
}

nav .ticketing-logo {
    font-size: 20px;
    margin-left: 250px;
    color: #2d3e50;
    font-weight: normal;
}

.nav-breadcrumb {
    background-color: white ;
    box-shadow: none;
}

.wrap-bc {
    box-shadow: none;
}

.first-bc {
    color: #2d3e50;
    font-weight: bold;
}

.second-bc {
    font-size: 14px;
    color: #C8C8C8;
}


nav ul a {
    transition: background-color .3s;
    font-size: 1rem;
    color: #2d3e50;
    display: block;
    padding: 0 15px;
    cursor: pointer;
}

.ticket-container {
    padding: 10px;
    margin-top: 20px;
}

.ticket-row {
    box-shadow: 0px 1px 10px 0px #888888;
    margin-left: 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
}

.mess-row {
    box-shadow: 0px 1px 10px 0px #888888;
    margin-left: 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
}

.cardone {
    background: #61d7f1;
    padding: 20px;
    color: white;
}

.cardtwo {
    background: #ec7172;
    padding: 20px;
    color: white;
}

.cardthree {
    background: #6bd049;
    padding: 20px;
    color: white;
}

.cardfour {
    background: #f0e94b;
    padding: 20px;
    color: white;
}

.fa-paper-plane-o {
    font-size: 65px;
    padding: 5px;
}

.fa-envelope-o {
    font-size: 65px;
    padding: 5px;
}

.fa-list-alt {
    font-size: 65px;
    padding: 5px;
}

.fa-users {
    font-size: 65px;
    padding: 5px;
}

.card-stacked {
    border: 1px solid #7C7C7C;
    border-top: none;
    border-bottom: none;
    border-right: none;
    height: 70px;
    max-width: 100px;
    margin-top: 10px;
    margin-left: 20px;
    width: 100%;
}

.ticketnumber {
    font-size: 45px;
}

.card-action {
    font-size: 12px;
    border-bottom: none;
    border-top: none;
}

.dash-name {
    margin-top: -12px;
}

.ticketNum {
    font-size: 45px;
}

.urgentNum {
    font-size: 45px;
    margin-right: 20px;
    margin-top: -12px;
}

.comNum {
    font-size: 45px;
    margin-right: 20px;
    margin-top: -12px;
}

.onlineNum {
    font-size: 45px;
    margin-right: 20px;
    margin-top: -12px;
}

.ticketName {
    font-size: 14px;
    width: 100%;
}

.urgentName {
    font-size: 14px;
    margin-right: 10px;
    margin-top: 20px;
}

.comName {
    font-size: 14px;
    margin-right: 10px;
    margin-top: -5px;
}

.onlineName {
    font-size: 14px;
    margin-right: 10px;
    margin-top: -5px;
}

.performance-row {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 12px;
    padding-bottom: 12px;
    background: #2d3e50;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.txtperf {
    margin-left: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
}

.filter-month {
    margin-top: -30px;
}

.per-month {
    background-color: #1F2A37;
    margin-right: 6px;
    padding: 0px;
    font-size: 12px;
    font-weight: normal;
}

.tbl-dash {
    box-shadow: 0px 1px 1px 0px #888888;
}

.thead-dash {
    background: #2d3e50;
}

.th-dash{
    color: white;
    border-radius: 0px;
}

/**sidebar**/
.side-nav li > a > i > .fa > .fa-home {
    color: white;
    font-size: 22px;
}



/**admintickets**/
.all-side {
    font-size: 10px;
}

.badge-new {
    color: black;
    font-size: 0.8rem;
    font-weight: 300;
    border-radius: 2px;
    padding: 2px;
    margin-top: 5px;
    margin-bottom: 2px;
    margin-left: 60px;
}

/**messages**/

.searchbar, .searchbar:hover, .searchbar:link, .searchbar:visited{
    background-color: #6B7580;
}
